<div class="py-3 wvu-z-index-content pb-3 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark wvu-bg-vignetting wvu-bg-blend-mode-luminosity--80 wvu-bg-position-center">
    <div class="container position-relative wvu-z-index-content">
      <div class="row align-items-stretch">
        <div class="col-12 col-md-8 mt-5">
          {{ partial "bookshop" (slice "generic/heading" (dict "text" .heading "name" .name "hierarchy" "h1" "classes" "display-4 helvetica-neue-bold mb-0 text-white") ) }}
        </div>
      </div>
    </div>
</div>