{{ define "main" }}
    {{ partial "bookshop_bindings" `(dict "page" .Params.profile "collection" .Params.collection)` }}
    {{ partial "bookshop" (slice "section/profile-hero" (dict "page" .Params.profile "collection" .Params.collection "name" "profile-hero-1")) }}

    <div id="wvu-main-content" class=" py-5 wvu-backpage-main">
        <div class="container wvu-z-index-content">
            <div class="row">
                <div class="col-md-8">
                    {{ partial "bookshop_bindings" `(dict "page" .Params.profile "collection" .Params.collection )` }}
                    {{ partial "bookshop" (slice "section/profile-content" (dict "collection" .Params.collection "page" .Params.profile)) }}
                </div>
      
                {{ partial "bookshop_bindings" `(dict "use_nav" .Params.use_nav "current_url" .RelPermalink "links" .Params.table_of_contents "section" .Params.section)` }}
                {{ partial "bookshop" (slice "section/table-of-contents" (dict "use_nav" .Params.use_nav "links" .Params.table_of_contents "current_url" .RelPermalink "section" .Params.section)) }}
            </div>
        </div>
    </div>
{{ end }}